- Edit mode for trips.
- not all things need to be editable (for now)
- should have option to add new place (using plus code), delete places, reorder places.
- user will enter only the plus code and should use Google maps api to fill in the rest of the field.
- no need to allow to edit place name, address etc.
- Edit mode should also allow to add notes at trip level, at hotel level, flight level, attractions level etc.
- Do not disturb the timeline view, since that's the most used page. add an edit button in the trip page.
- Clicking on the edit in trip page, should enter edit mode. this could be just a form.
- no autocomplete required. 
- on save persist this to the indexeddb.
- edit mode screen, should be categorized into sections - flights, hotels, attractions, notes etc.
- i can click on each category, and go into edit these information.
- once saved, should show a success message and stay on edit mode.
- should have an option to switch to view mode, and that should take us back to the trips home page.